/* General style */

body {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;

	background-color: #7eabba;
	color: white;
	font-size: 18px;
	line-height: 1.3em;
}

h1 {
	font-family: 'Cormorant Garamond', serif;
	font-size: 36px;
	font-weight: 700;
	padding: 25px;
	text-align: center;
	margin: 100 auto 75 auto;
}

h2 {
	font-family: 'Roboto', serif;
	font-size: 21px;
	font-weight: 700;
	margin-bottom: 7px;
}

a {
	color: #e3e6ae;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}



/* Navigation */


nav {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	font-size: 16px;
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

nav a {
	color: white;
	margin: 25 50;
	padding: 10;
	border-style: solid;
	border-bottom-width: thin;
	border-color: #e2e2e2;
}

nav a:hover {
	border-style: none;
}

.selected {
	font-weight: 700;
	border-style: none;
}

.arrow-down {
	font-size: 21px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 3;
	margin: 50;
	text-align: right;
}



/* Homepage */

.fullscreen-wrapper {
	width: 100%;
	height: 100%;
}

.background-img {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;

	height: inherit;
	width: inherit;

	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

.fullscreen-wrapper img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}


/* About */

.twocolumns-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	margin: 50 auto;
	padding: 0 100;
}

.column {
	flex: 1;
	padding: 0 50;
	min-width: 400px;
	max-width: 960px;
}

.video {
	text-align: center;
}

.column p {
	margin: 0 25;
}

/* Festival */

.festivals-wrapper {
	overflow: hidden;
	 width: 100%;
	 height: 100%;
}


.text-festivals-wrapper {
	width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;

	background-image: url("img/still_bg_festivals.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

.text-festivals {
	padding: 10% 20 50 50;
	line-height: 1.4em;

	text-align: right;

	max-width: 50%;
}

.img-festivals {
	max-width: 1500px;
	margin: 100 auto;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.img-festivals img {
	padding: 10px;
	width: 480px;
	height: auto;
}


/* Team */

.nav-fix {
	width: 100%;
	height: 100px;
	opacity: 0;
}

.background-img-team {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;

	width: 100%;
 	height: 100%;

	background-image: url("img/still_bg_team.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

.profile {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	max-width: 1200px;

	margin: 0 auto 150 auto;
}

.profile img {
	width: 480px;
	height: 420px;
	margin-bottom: 40;
}

.profile div {
	flex: 1;
	max-width: 640px;
	min-width: 400px;
	padding: 0 20 0 20;
	font-size: 18px;
	line-height: 1.3em;
}


.profile-crew {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	max-width: 1000px;

	margin: 0 auto 150 auto;

	text-align: center;
	line-height: 1.4em;
}

.profile-crew img {
	margin-bottom: 40;
	padding: 10;
}

.profile-crew div {
	flex: 1;
	max-width: 520px;
	min-width: 400px;
	padding: 0 20;
}


/* contact */

.contact-wrapper {
	overflow: hidden;
 	width: 100%;
 	height: 100%;
}

.text-contact-wrapper {
	width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;

	background-image: url("img/still_bg_contact.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

.text-contact {
	margin: 0 0 0 auto;
	padding: 10% 50 50 50;
	line-height: 1.4em;

	width: 50%;
}


/* Footer */

.twocolumns-wrapper-footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	border-style: solid;
	border-top-width: thin;
	border-color: #729ba8;

	color: #b0c5cb;
	font-size: 12px;
}

.column-footer {
	flex: 1;
	margin: 25 50;
}

.backtop {
	font-size: 14px;
	text-align: right;
}



/* Responsive Settings */

@media only screen and (min-width: 1400px) {

	body {
		font-size: 21px;
	}

	h1 {
		font-size: 42px;
		padding: 40px;
	}

	h2 {
		font-size: 24px;
		margin-bottom: 7px;
	}

	.twocolumns-wrapper {
		margin: 100 auto;
	}

	.img-festivals img {
		width: 640px;
	}
}


@media only screen and (min-width: 1920px) {

	body {
		font-size: 24px;
	}

	.twocolumns-wrapper {
		margin: 200 auto;
	}

	.profile div {
		font-size: 21px;
	}
}
